<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963671972899-l38eufntehfvpu0gheui8frbuvovht7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963671972899-l38eufntehfvpu0gheui8frbuvovht7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDY5y6d1ICUZPUgaksemJKSLB3iyn0zl08</string>
	<key>GCM_SENDER_ID</key>
	<string>963671972899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABCDE12345.com.cocoacasts.scribbles</string>
	<key>PROJECT_ID</key>
	<string>bwaflutix-1e017</string>
	<key>STORAGE_BUCKET</key>
	<string>bwaflutix-1e017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963671972899:ios:c20e8ba0a877cfbe1ce596</string>
	<key>DATABASE_URL</key>
	<string>https://bwaflutix-1e017.firebaseio.com</string>
</dict>
</plist>